<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      FOTOS DE MARTE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">First Proyect</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong (ionChange)="valueChange()">{{value}}</strong>
      <ion-input placeholder="Enter Input" [(ngModel)]="value" (ionChange)="valueChange()"></ion-input>
      <div *ngFor="let foto of list">
        <img src="{{foto}}" alt="">
      </div>

      <ion-button (click)="getFotos()">Mostrar fotos</ion-button>
  </div>
</ion-content>
